body{
        margin: 0px;
        background-color:  #ffcb63;
        height: fit-content;
}

a[href^="https"]{
        font-style: normal;
        color: #B0A8B9;
}

#nav{
        float: right;
        height: fit-content;
        width: 100%;
        background-color:#4B4453;
        border-right: 30px solid rgba(137, 43, 226, 0.315);
        border-bottom: 2px solid #4B4453;
        position: fixed;
}

#nav-child{
        float: right;
        height: fit-content;
        width: fit-content;
        background-image: linear-gradient(180deg, #e263ff, #639aff);
        color: #4B4453;
        margin: 0px 0px;
        padding: 15px 30px;
        border-left: 3px solid rgb(48, 14, 80);
        border-top: 3px solid rgba(137, 43, 226, 0.315);
        border-bottom: 3px solid rgba(137, 43, 226, 0.315);
        border-radius: 6px;
        font-family: cursive;
}

#nav-child:hover{
        float: right;
        height: fit-content;
        width: fit-content;
        background-image: linear-gradient(180deg, #fff263, #ffa463);

        margin: 0px 0px;
        padding: 15px 30px;
        border-left: 6px solid rgb(48, 14, 80);
        border-top: 3px solid rgba(137, 43, 226, 0.315);
        border-bottom: 3px solid rgba(137, 43, 226, 0.315);
        border-right: 6px solid rgb(48, 14, 80);
        border-radius: 12px;
        font-family: cursive;
}

h1{
        float: left;
        margin-top: auto;
        margin-bottom: 0;
        margin-top: 5px;
        margin-left: 40px;
        font-size: 35px;
        color: #B0A8B9;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#About{
        height: fit-content;
        padding-top: 100px;
}

#aboutTable{
        
        background: linear-gradient(120deg,#9763ff 50%, #ffcb63 100%);
        width: 100%;
        height: fit-content;
        border-spacing: 0px;
}
th{
        margin: 0px 0px;
        padding: 0px;
        border: 0px solid;
}
.cell{
        width: 100%;
        height: 100%;
        color: #4B4453;
         
}

#nameText{
        margin-top: 400px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
}

#slogan{
        margin-top: 40px;
        font-size: 25px;
        margin-left: 100px;
        color: #B60000;

         
}

img{
        width: 400px;
        height: 400px;
        margin: 50px;
        border: 10px solid #ffcb63;
        border-radius: 50px;
}

#projects{
        background-color: #4B4453;
        background: linear-gradient(300deg,#4B4453, #03008B);
        width: 100%;
        height: fit-content;
        margin-top: 0px;
}

#title{
        height: 60px;
        background-color: #4B4453;
        margin-top: 0px;
        width: 100%;
}

#title h1{
        margin-left: 20px;
}

#projectsTable{

        width: 100%;
        height: 640px;
        border-spacing: 0px;
}

#project{
        width: 300px;
        height: 300px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 90px;
        margin-top: 90px;
        background-color: #B0A8B9; 
        border: 10px solid #4B4453;
}

h2{
        color: #4B4453;
        margin-top: 130px;
        margin-left: auto;
        
}
/*
#row1{
        background-image: linear-gradient(90deg,#F83728, #4B4453);
}

#row2{
        background-image: linear-gradient(270deg,#B0A8B9, #B60000);
}
*/
/*
#name{
        background-image: linear-gradient(45deg, #F83728,);
}

#pic{
        background-image: linear-gradient(135deg, #4B4453,#B60000);
}

#point{
        background-image: linear-gradient(135deg,#F83728, #B0A8B9);
}

#desc{
        background-image: linear-gradient(45deg, #B0A8B9,#B60000);
}
*/
